<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdulmanan.i190500">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmdAss1">
        <activity
            android:name=".LikedMusicActivity"
            android:exported="true" />
        <activity
            android:name=".LikedSongActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListenLaterActivity"
            android:exported="true"></activity>
        <activity
            android:name=".recentSearchesActivity"
            android:exported="true" />
        <activity
            android:name=".songTitlePlayingActivity"
            android:exported="true" />
        <activity
            android:name=".songTitleActivity"
            android:exported="true" />
        <activity
            android:name=".selectPlaylistActivity"
            android:exported="true" />
        <activity
            android:name=".recordingMusicWithProgressBar"
            android:exported="true" />
        <activity
            android:name=".recordingMusicWithTimerActivity"
            android:exported="true" />
        <activity
            android:name=".RecordingMusicActivity"
            android:exported="true" />
        <activity
            android:name=".RecordMusicActivity"
            android:exported="true" />
        <activity
            android:name=".uploadMusicActivity"
            android:exported="true" />
        <activity
            android:name=".AddPlaylist"
            android:exported="true" />
        <activity
            android:name=".songComments"
            android:exported="true" />
        <activity
            android:name=".playListArtistActivity2"
            android:exported="true" />
        <activity
            android:name=".playlistArtistActivity"
            android:exported="true" />
        <activity
            android:name=".otherLoginOptionsActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".signUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>